{% set language = language|default(current_language) %}
{% set tags = createModel('Tags','tags').getTranslationsQuery(language) %}
{% set tags = tags.join('tags','tags.id','=','tags_translations.tags_id')%}  
{{ createSearch('word','tags','ilike:%{value}%','and') }}
{% set tags = applySearch(tags,'tags') %}

{% set items = paginate(tags,'tags').getItems() %}

{% if items|length == 0 %}
    <tr>
        <td colspan="2">..</td>
    </tr>
{% endif %}
{% for item in items %}
<tr id="{{ item.tag.uuid }}">
    <td>                  
        <div 
            class="ui basic mini icon button edit-button show-popup" 
            uuid="{{ item.tag.uuid }}" 
            {{ buttons.edit.title|attr('title') }} 
            {{ buttons.edit.title|attr('data-content') }} 
            data-title="{{ item.word }}">
            <i class="icon edit"></i>                   
        </div>
        <div class="ui basic mini icon button delete-button" uuid="{{ item.tag.uuid }}" {{ buttons.delete.title|attr('title') }} data-title="{{ item.word }}">
            <i class="icon orange trash"></i>                   
        </div>
        <div class="ui basic mini icon button relations-button" uuid="{{ item.tag.uuid }}" {{ buttons.relations.title|attr('title') }}>
            <i class="icon linkify"></i>                   
        </div>
        <div class="ui basic mini icon button translations-button" uuid="{{ item.tag.uuid }}" {{ buttons.translations.title|attr('title') }}>
            <i class="icon globe"></i>                   
        </div>
    </td>
    <td>
        {{ item.word }}
    </td>
    <td>
        {{ component ('system:admin.orm.relations.count',{ extension: 'tags',model: 'TagsRelations',id: item.id, class: 'basic mini' }) }}              
    </td>
</tr>
{% endfor %}