{% component 'semantic~tabs.vertical.content' %}
{% set disabled = (demo_mode == true) ? 'disabled' : '' %}
{% if demo_mode == true %}
<div class="ui warning message">
    {{ labels.demo }}
</div>
{% endif %}
{% set job = service('queue').getJob('translateTags') %}
{% if hasExtension('translations') == true %}
    {% if hasExtension('queue') == false %}
        {{  component('system:admin.packages.store.package-message',{ 
                package_type: 'extensions',
                package_name: 'Queue Jobs',
                hide_button: true,
            }) 
        }}
    {% else %}
        <div class="mt-4 {{ disabled }}">
            {{ component('queue::admin.jobs.status.toggle',{ job_name: 'translateTags' }) }} 
        </div>
        <div class="mt-4" id="job_form_content">
            <div class="ui segment" id="feed_driver">
                <h4>{{ labels.feed }}</h4>
                {{ component('system:admin.drivers.dropdown',{ selected: feed_driver, category: 'feeds.games', calss: 'fluid' }) }}                       
            </div>    
            {{ component('queue::admin.jobs.config',{ uuid: 'translateTags' }) }}
        </div>
    {% endif %}
{% else %}
    <div class="ui message error">     
        <h4>{{ labels.alert }}</h4>   
        <p>{{ labels.error }}</p>         
    </div>
{% endif %}
{% endcomponent %}