{% set size = size|default(15) %}
{% set tags = createModel('Tags','tags').orderBy('word') %}
{% set items = tags.take(size).get() %}
{% set selected_text = (selected is not empty) ? selected : labels.select %}
<div 
    class="ui search selection dropdown tags-dropdown 
    {{ class|default('labeled clearable') }}" 
    id="{{ id|default('tags_dropdown') }}">
    <input name="{{ name|default('tags') }}" type="hidden">
    {% if icon is not empty %}
    <i class="icon {{ icon }}"></i>
    {% endif %}
    <i class="dropdown icon"></i>
    <div class="default text">{{ selected_text }}</div>
    <div class="menu">
        {% for item in items %}
        <div class="item" data-value="{{ item.id }}" uuid="{{ item.uuid }}">{{ item.word }}</div>
        {% endfor %}
    </div>
</div>