{% set full_title = category.getTitle(null,language) %}
<div class="ui dropdown actions-dropdown">
    <i class="ellipsis vertical icon"></i>
    <div class="menu">                         
        <div class="item delete-button" uuid="{{ category.uuid }}" {{ buttons.delete.title|attr('title') }}  data-title="{{ full_title|string(' / ') }}">
            <i class="icon orange trash"></i>
            {{ buttons.delete.content }}
        </div>
        <div class="item add-button" uuid="{{ category.uuid }}" {{ buttons.add.title|attr('title') }} parent-id="{{ category.id }}" language="{{ language }}">
            <i class="icon plus"></i>
            {{ buttons.add.content }}
        </div>       
    </div>
</div>     