{% set language = language|default(current_language) %}
<div class="ui segment">
    <div class="ui stackable grid">
        <div class="seven wide column">           
            {{ component("components:search.form",{ namespace: 'tags' }) }}
        </div>
        <div class="one wide column right floated">       
            {{ component('components:paginator.dropdown',{ namespace: 'tags' }) }}
        </div>
    </div>
</div>
<table class="ui compact stackable borderless basic table mt-2">
    <thead>
        <tr class="table-head">                
            <th class="collapsing one wide">{{ columns.actions }}</th>
            <th class="collapsing one wide">{{ columns.tag }}</th>
            <th class="collapsing ten wide" >{{ columns.relations }}</th>                 
        </tr>
    </thead>
    <tbody id="tags_rows" component="tags::admin.view.rows" namespace="tags" language="{{ language }}">
        {{ component('tags::admin.view.rows',{ language: language }) }}   
    </tbody>  
</table>
<div class="mt-2" id="paginator">
    {{ component('components:paginator',{ namespace: 'tags' }) }}
</div>