{% set max = max|default(15) %}
{% set per_group = per_group|default(5) %}
{% set page_url = page_url|default('tags/{{ slug }}') %}
{% set model = createModel('Tags','tags') %}
{% set tags = model.orderBy('id') %}

{% if random == true %}
    {% set tags = tags.orderByRaw('RAND()') %}
{% else %}
    {% set tags = tags.orderBy('word','asc').orderBy('id','asc') %}
{% endif %}

{% if max is not empty %}
    {% set tags = tags.take(max) %}
{% endif %}

{% for item in tags.get() %}
    {% set slug = model.getSlug() %}
    {% if slug is not empty %}
        {% set url = page_url|renderText({ slug: slug }) %}
        <div class="{{ class }}">   
            <a class="ui label {{ label_class }}" href="{{ url(url,false) }}">{{ item.word }}</a>
        </div>
    {% endif %}
{% endfor %}
