{% set language = language|default(null) %}
{% set max = max|default(15) %}
{% set per_group = per_group|default(5) %}
{% set page_url = page_url|default('tags/{{ tag }}') %}
{% set model = createModel('Tags','tags').getTranslationsQuery(language).orderBy('word','asc').orderBy('id','asc') %}
{% if max is not empty %}
    {% set model = model.take(max) %}
{% endif %}

{% for item in model.get() %}
{% set url = page_url|renderText({ slug: item.word }) %}
<div class="{{ class }}">
    <a class="ui label {{ label_class }}" href="{{ url(url) }}">{{ item.word }}</a>
</div>
{% endfor %}
