{% set language = language|default(current_language) %}
{% set max = max|default(10) %}
{% set page_url = page_url|default('{{ slug }}') %}
{% set tags = createModel('Tags','tags'). %}

{% if random == true %}
    {% set tags = tags.orderByRaw('RAND()') %}
{% else %}
    {% set tags = tags.orderBy('position','asc').orderBy('id','asc') %}
{% endif %}

{% set items = tags.take(max).get() %}

{% for item in items %}       
    {% set url = page_url|renderText({ slug: item.getSlug() }) %}
    <div class="item {{ item_class }}">      
        <a href="{{ url(url,true) }}">        
            <span class="{{ item_text_class }}">{{ item.translation(language).word }}</span>
        </a>           
    </div>   
{% endfor %}  