{% set params = { language: language, empty: labels.empty } %}
{% set items = [ 
    { title: labels.view, component: 'tags::admin.view', icon: 'list', id: 'view_tags', active: true, params: params },   
    { title: labels.add, component: 'tags::admin.add', icon: 'plus', id: 'add_tag', params: params },
    { title: labels.edit, component: 'tags::admin.edit', icon: 'edit', id: 'edit_tag', params: params },
    { title: labels.translations, component: 'tags::admin.translations', icon: 'globe', id: 'translations', params: params },
    { title: labels.relations, component: 'tags::admin.relations', icon: 'linkify', id: 'relations', params: params }
] %}

{{  component('components:tabs.vertical',{ 
        items: items, 
        menu: { id: 'tags_menu' }, 
        item_class: 'tags-tab-item',
        content: { id: 'tags_content', component: 'tags::admin.view', params: params } 
    })
}}