{% if uuid is not empty %}
    {% set tag = createModel('Tags','tags').findById(uuid) %}
    {% set translations = createModel('TagsTranslations','tags').where('tags_id','=',tag.id) %}
{% endif %}
<div class="ui list">    
    {% for item in translations.get() %}
    <div class="ui item">
        <div class="content">
            {{ component('semantic~language.label',{ language: item.language, class: ' basic horizontal ' }) }}            
            {{ item.word }}
            <div class="ui right floated basic label" title="{{ labels.slug }}">
                <span class="ui blue text">{{ labels.slug }}</span>                     
                <span class="pl-2">{{ item.slug }}</span>
            </div>
        </div>      
    </div>
    {% endfor %}
</div>