{% component 'semantic~tabs.vertical.content' %}
<div class="ui mt-8">
    <div class="ui segment">
        <h4>{{ labels.language }}</h4>
        {{  component('semantic~language.dropdown',{
                name: 'language',
                id: 'choose_language',
                selected: language,
                class: 'inline search selection' 
            })
        }} 
    </div>
    <div class="ui mt-2" id="form_content"> 
        {{ component('tags::admin.form',{ parent_id: parent_id, language: language }) }}
    </div> 
</div>
  
{% endcomponent %}